/* Themes */
	/* Avoid eldritch horror animations */
        *|*:not(#oneko) {
                transition:			0.2s;
        }

        :root, :root.dark {--bg0h:#1d2021;--bg0t:rgba(40,40,40,.95);--bg0:#282828;--bg0s:#32302f;--bg1:#3c3836;--bg2:#504945;--bg3:#665c54;--bg4:#7c6f64;--gray:#928374;--fg0:#fbf1c7;--fg1:#ebdbb2;--fg2:#d5c4a1;--fg3:#bdae93;--fg4:#a89984;--red:#fb4934;--green:#b8bb26;--yellow:#fabd2f;--blue:#83a598;--purple:#d3869b;--aqua:#8ec07c;--orange:#fe8019;--dred:#cc241d;--dgreen:#98971a;--dyellow:#d79921;--dblue:#458588;--dpurple:#b16286;--daqua:#689d6a;--dorange:#d65d0e;--neko:url(img/cleo.gif);--background:url(../img/bgdark.png);}

        :root.light {--bg0h:#f9f5d7;--bg0t:rgba(251,241,199,.85);--bg0:#fbf1c7;--bg0s:#f2e5bc;--bg1:#ebdbb2;--bg2:#d5c4a1;--bg3:#bdae93;--bg4:#a89984;--gray:#928374;--fg0:#282828;--fg1:#3c3836;--fg2:#504945;--fg3:#665c54;--fg4:#7c6f64;--red:#9d0006;--green:#79740e;--yellow:#b57614;--blue:#076678;--purple:#8f3f71;--aqua:#427b58;--orange:#af3a03;--dred:#cc241d;--dgreen:#98971a;--dyellow:#d79921;--dblue:#458588;--dpurple:#b16286;--daqua:#689d6a;--dorange:#d65d0e;--neko:url(img/cleo.gif);--background:url(../img/bglight.png);}

/* Font */
        @font-face {
                font-family:			fantasque;
                src:				url(../font/fantasque.ttf);
        }

/* Desktop view */
        html {
                align-items:			center;
                font:				14px fantasque, monospace;
                line-height:			1.2;
                display:			flex;
                height:				100%;
		overflow-y:			hidden !important; /* why the hell is this necessary? */
                justify-content:		center;
        }

        body {
                background-color:		var(--bgcolor);
                background-size:		cover;
		background-image:		var(--background);
		display:			grid;
		grid-template-columns:		auto auto;
		column-gap:			2ch;
        }

        main {
                display:			flex;
                flex-direction:			column;
                min-height:			30ch;
                min-width:			50vw;
                padding:			2em;
                float:				left;
		padding:			2em 1ch 1em
        }

        p {
                margin:				0;
                color:				var(--fg1);
        }

                .host, .folder, .slash {
                        color:			var(--bg0);
                }

		.host {background-color:var(--purple);}
		.folder {background-color:var(--aqua);}
		.slash {background-color:var(--blue);}

			.host::before, .host::after, .folder::before, .folder::after, .slash::before, .slash::after {font-size:larger;}
			.host::after, .folder::after, .slash::after {content:"";}
			.host::before, .folder::before, .slash::before  {content:"";}

        a {
                color:				var(--fg1);
                text-decoration:		none;
        }

                ul:nth-child(1n) a:hover {color:var(--red);}
                ul:nth-child(2n) a:hover {color:var(--orange);}
                ul:nth-child(3n) a:hover {color:var(--yellow);}
                ul:nth-child(4n) a:hover {color:var(--aqua);}
                ul:nth-child(5n) a:hover {color:var(--green);}
                ul:nth-child(6n) a:hover {color:var(--blue);}
                ul:nth-child(7n) a:hover {color:var(--purple);}
        ul {
                list-style-type:		none;
                margin:				0;
                padding:			0;
        }

                ul:nth-child(1n) li:first-child {background-color:var(--dred);}
                ul:nth-child(2n) li:first-child {background-color:var(--dorange);}
                ul:nth-child(3n) li:first-child {background-color:var(--dyellow);}
                ul:nth-child(4n) li:first-child {background-color:var(--daqua);}
                ul:nth-child(5n) li:first-child {background-color:var(--dgreen);}
                ul:nth-child(6n) li:first-child {background-color:var(--dblue);}
                ul:nth-child(7n) li:first-child {background-color:var(--dpurple);}

		ul:nth-child(1n) li:first-child::after {color:var(--dred);}
		ul:nth-child(2n) li:first-child::after {color:var(--dorange);}
		ul:nth-child(3n) li:first-child::after {color:var(--dyellow);}
		ul:nth-child(4n) li:first-child::after {color:var(--daqua);}
		ul:nth-child(5n) li:first-child::after {color:var(--dgreen);}
		ul:nth-child(6n) li:first-child::after {color:var(--dblue);}
		ul:nth-child(7n) li:first-child::after {color:var(--dpurple);}

	li:first-child {
		color:			var(--bg0);
		margin-left:		-2ch;
		margin-right:		7ch;
		position:		relative;
	}

		li:first-child a {color: var(--bg0);}

		li:first-child::before {
			content:	" ";
		}

		li:first-child::after {
			content:	"";
			position:	absolute;
			right:		-1ch;
		}

        nav {
		row-gap:			1em;
                display:			grid;
                grid-template-columns:		auto auto auto auto;
                padding:			1em 0;
		margin-left:			2ch;
        }

        aside {
                float:				right;
                width:				24ch;
		opacity:			90%;
		padding:			calc(1em + 2px) 0 0;
        }

                aside img {
                        width:			100%;
                        height:			100%;
                        object-fit:		cover;
                }

        pre {
                margin:				0 0 1em 0;
                color:				var(--fg1);
                font:				14px fantasque;
        }
	
	main,
	aside {
		backdrop-filter:		blur(1px);
		box-shadow:			1ch 1em var(--dpurple),
						inset 0 calc(1em + 2px) var(--purple);
		background-color:		var(--bg0t);
                border:				2px solid var(--purple);
		border-radius:			3px;
		position:			relative;
	}

	::selection {
		color:				var(--fg1);
		background-color:		var(--dblue);
	}

	.titlebar {
		position:			absolute;
		top:				-3px;
		left:				1px;
		color:				var(--bg0);
		width:				100%;
		display:			flex;
		gap:				2px;
	}

		.titlebar .icon {
			color:			var(--fg1);
			background-color:	var(--bg0);
			padding:		2px;
			border-radius:		5px;
			height:			calc(1rem - 3px);
			position:		relative;
			top:			3px;
			line-height:		0.5
		}

		.titlebar .title {
			flex:			1;
		}

		.titlebar .close {
			content:		"X";
			position:		relative;
			top:			3px;
			right:			1px;
			width:			3ch;
			height:			1em;
			border-radius:		2px;
			background-color:	var(--dred);
			color:			#ebdbb2;
			text-align:		center;
			line-height:		1;
			justify-self:		flex-end;
		}
			
/* Mobile view */
        @media screen and (max-width: 730px) {
                html {
                        font:			11px fantasque;
                }

		body {
			display:		grid;
			grid-template-columns:	auto;
		}

                main {
                        display:		grid;
                        align-items:		center;
                }

                aside,
                main {
                        width: 			80vw;
                }

                aside {
                        max-height:		12em;
                        margin:			2em auto;
                        float:			left;
                }

                nav {
                        grid-template-columns:	30% 30% 30%;
                        grid-column-gap:	5%;
                }

                pre {
                        display:		none;
                }

                .slash {
                        font-size:		11px;
                }
        }

        @media screen and (max-width: 470px) {
                nav {
                        grid-template-columns:	40% 40%;
                        grid-column-gap:	20%;
                }

                aside {
                        max-height:		10em;
                }
        }

        @media screen and (max-width: 400px) {
                aside {
                        max-height:		8em;
                }

/* Accessibility */
	@media (prefers-reduced-motion) {
		#oneko {
			display:		none;
		}
	}
